@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

* {
  box-sizing: border-box;
}

body {
   background: linear-gradient(145deg, #00103a 20%, #7C5AC5 100%);

  color:white;
  font-size:60px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  line-height:20px;
  font-family: 'Kelly Slab', cursive;
}

a{
  color: white;
  text-decoration: none;
  
}

p{
 text-align:center;
  margin-top:5%;
  font-size:20px;
}

img{
   margin-left:40%;
   margin-top:5%;
  margin-bottom:10%;
   width:300px;

}
  body, html {
  height: 100vh;
  margin: 0;
}

.sky-container {
  width: 2500px;
  height: 2500px;
  transform: rotateZ(35deg);


}


.star {
  position: absolute;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.star::before, .star::after {
  position: absolute;
  content: '';
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), white, rgba(0, 0, 255, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3000ms ease-in-out infinite;
}

.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: calc(20% - 1100px);
  left: calc(20% - 1900px);
  animation-delay: 650ms;
}
.star:nth-child(1)::before, .star:nth-child(1)::after {
  animation-delay: 650ms;
}

.star:nth-child(2) {
  top: calc(10% - 29px);
  left: calc(20% - 1000px);
  animation-delay: 150ms;
}
.star:nth-child(2)::before, .star:nth-child(2)::after {
  animation-delay: 150ms;
}

.star:nth-child(3) {
  top: calc(2% - 25px);
  left: calc(15% - 800px);
  animation-delay: 1600ms;
}
.star:nth-child(3)::before, .star:nth-child(3)::after {
  animation-delay: 1600ms;
}

.star:nth-child(4) {
  top: calc(20% - 120px);
  left: calc(10% - 900px);
  animation-delay: 1700ms;
}
.star:nth-child(4)::before, .star:nth-child(4)::after {
  animation-delay: 1700ms;
}

.star:nth-child(5) {
  top: calc(10% - 200px);
  left: calc(10% - 1640px);
  animation-delay: 2100ms;
}
.star:nth-child(5)::before, .star:nth-child(5)::after {
  animation-delay: 2100ms;
}

.star:nth-child(6) {
  top: calc(10% - 190px);
  left: calc(50% - 360px);
  animation-delay: 1100ms;
}
.star:nth-child(6)::before, .star:nth-child(6)::after {
  animation-delay: 1100ms;
}

.star:nth-child(7) {
  top: calc(10% - 590px);
  left: calc(10% - 380px);
  animation-delay: 1000ms;
}
.star:nth-child(7)::before, .star:nth-child(7)::after {
  animation-delay: 1000ms;
}

.star:nth-child(8) {
  top: calc(20% - 30px);
  left: calc(5% - 1020px);
  animation-delay: 2080ms;
}::before, .star:nth-child(8)::after {
  animation-delay: 2080ms;
}

.star:nth-child(9) {
  top: calc(10% - 620px);
  left: calc(10% - 410px);
  animation-delay: 1080ms;
}::before, .star:nth-child(9)::after {
  animation-delay: 1080ms;
}

.star:nth-child(10) {
  top: calc(5% - 900px);
  left: calc(5% - 1810px);
  animation-delay: 1280ms;
}::before, .star:nth-child(10)::after {
  animation-delay: 880ms;
}


/* Animations */
@keyframes tail {
  0% {
    width: 0;
  }
  
  30% {
    width: 100px;
  }
  
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(820px);
  }
}


.hm1{
  margin-left:20%;
  margin-top:-5%;
  text-align:left;
  filter :blur(5px);
  font-size: 25px;
}

.hm2{
  margin-right:25%;
  text-align:right;
  filter :blur(5px);
  font-size: 10px;
  position: inline-block;

}

.hm3{
  filter :blur(5px);
 margin-right:20%;
  font-size: 12px;

  
}

.hm1:hover{
  filter :blur(0px);
  font-size: 20px;
  
}

.hm2:hover{
  filter :blur(0px);
  font-size:20px;
  
}

.hm3:hover{
  filter :blur(0px);
  font-size:20px;
  
}

.hm4:hover{
  filter :blur(10px);
}


.hm5{
  margin-left:10%;
  text-align:left;
  filter :blur(5px);
}

.hm5:hover{
  filter :blur(0px);
  font-size:20px;
  
}


.hm6{
  margin-right:30%;

  text-align:right;
  
  filter :blur(5px);
}

.hm6:hover{
  filter :blur(0px);
  font-size:20px;
  
}


.hm7{
  text-align:right;
  margin-right:10%;
    filter :blur(5px);
}

.hm7:hover{
  filter :blur(0px);
  line-height:10px;
  font-size:20px;
  
}

.hm8{
  text-align:right;
  margin-right:15%;
    filter :blur(5px);
}

.hm8:hover{
  filter :blur(0px);
  font-size:20px;
  
}

@media (max-width: 600px) {


.hm4{
width:200px;
margin-top:30%;
margin-bottom:30%;
margin-left:30%;
}



}




